name: Test SCA network

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  sca:
    runs-on: tsingmicro
    steps:
      - name: Test networking
        run: |
          ip addr show
          ping -c 10 10.1.2.10 || true
          ping -c 10 10.6.212.22 || true
          curl http://10.6.212.22:38008/cleansourcesca/api/v2/file/multipart_upload/create